<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <h5 class="m-0">To-Do List</h5>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tasks" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedTasks" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="activitiesNo">Activities No <p-sortIcon field="activitiesNo"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="dueDate">Due Date <p-sortIcon field="dueDate"></p-sortIcon></th>
                        <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-task>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="task"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Activities No</span>
                            {{task.activitiesNo}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{task.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Due Date</span>
                            {{task.dueDate | date }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Priority</span>
                            {{onMapPriority(task.priority)}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            {{onMapStatus(task.status)}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-flat p-button-primary mr-2"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-flat p-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '475px', 'height': 'auto' }" header="To-Do Form" [modal]="true" class="p-fluid p-formgrid grid">
            <ng-template pTemplate="card">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="task.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !task.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !task.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="duedate">Due Date</label>
                    <p-calendar [(ngModel)]="task.dueDate" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
                </div>
                <div class="field">
                    <label for="priority">Priority</label>
                    <p-dropdown [options]="prioritiesList" [(ngModel)]="task.priority" placeholder="Select task priority" optionLabel="label"></p-dropdown>
                </div>
                <div class="field">
                    <label for="status">Status</label>
                    <p-dropdown [options]="statusList" [(ngModel)]="task.status" placeholder="Select task status" optionLabel="label"></p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="task.description" required rows="6" cols="20"></textarea>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="task">Are you sure you want to delete <b>{{task.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected task?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
